<!DOCTYPE html>
<html>
  <head>
    <title>Research.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "users", :media => "all" %>
  </head>
  <body>
    <header>
           <ul>
            <li>このサイトについて</li>
            <% if session[:user_id] %>
              <li><%= link_to '新しいTopicを投稿する', new_topic_path ,{class: "link"}%></li>
              <li><%= link_to "ログアウト", logout_path, {method: "post",class: "link"} %></li>
              <li><%= @user.name %></li>
            <% else %>
              <li><%= link_to '新規登録', "/signup" ,{class: "link"} %></li>
              <li><%= link_to 'ログイン', "/login" ,{class: "link"} %></li>
            <% end %>
            </ul>
    </header>
    <%= yield %>
  </body>
</html>
